[class^="icsw32_white-"],[class*=" icsw32_white-"] {display: inline-block;width: 32px;height: 32px;line-height: 32px;vertical-align: middle;background-image: url(icsw2_white_32.png);background-repeat: no-repeat;*margin-right: .3em}
[class*="icsw32_white-"]:last-child {*margin-left: 0 }
.icsw32_white-abacus{ background-position: 0 0;  } 
.icsw32_white-acces-denied-sign{ background-position: 0 -52px;  } 
.icsw32_white-address-book-2{ background-position: 0 -104px;  } 
.icsw32_white-address-book-3{ background-position: 0 -156px;  } 
.icsw32_white-address-book-4{ background-position: 0 -208px;  } 
.icsw32_white-address-book-5{ background-position: 0 -260px;  } 
.icsw32_white-address-book{ background-position: 0 -312px;  } 
.icsw32_white-admin-user-2{ background-position: 0 -364px;  } 
.icsw32_white-admin-user{ background-position: 0 -416px;  } 
.icsw32_white-airplane{ background-position: 0 -468px;  } 
.icsw32_white-alarm-bell-2{ background-position: 0 -520px;  } 
.icsw32_white-alarm-bell{ background-position: 0 -572px;  } 
.icsw32_white-alarm-clock{ background-position: 0 -624px;  } 
.icsw32_white-alert-2{ background-position: 0 -676px;  } 
.icsw32_white-alert{ background-position: 0 -728px;  } 
.icsw32_white-apartment-building{ background-position: 0 -780px;  } 
.icsw32_white-applications{ background-position: 0 -832px;  } 
.icsw32_white-archive{ background-position: 0 -884px;  } 
.icsw32_white-bag-2{ background-position: 0 -936px;  } 
.icsw32_white-bag{ background-position: 0 -988px;  } 
.icsw32_white-balloons{ background-position: 0 -1040px;  } 
.icsw32_white-bandaid{ background-position: 0 -1092px;  } 
.icsw32_white-battery-almost-empty{ background-position: 0 -1144px;  } 
.icsw32_white-battery-almost-full{ background-position: 0 -1196px;  } 
.icsw32_white-battery-empty{ background-position: 0 -1248px;  } 
.icsw32_white-battery-full{ background-position: 0 -1300px;  } 
.icsw32_white-battery{ background-position: 0 -1352px;  } 
.icsw32_white-bended-arrow-down{ background-position: 0 -1404px;  } 
.icsw32_white-bended-arrow-left{ background-position: 0 -1456px;  } 
.icsw32_white-bended-arrow-right{ background-position: 0 -1508px;  } 
.icsw32_white-bended-arrow-up{ background-position: 0 -1560px;  } 
.icsw32_white-big-brush{ background-position: 0 -1612px;  } 
.icsw32_white-bills-stack{ background-position: 0 -1664px;  } 
.icsw32_white-blocks-images{ background-position: 0 -1716px;  } 
.icsw32_white-bluetooth-2{ background-position: 0 -1768px;  } 
.icsw32_white-bluetooth{ background-position: 0 -1820px;  } 
.icsw32_white-book-large{ background-position: 0 -1872px;  } 
.icsw32_white-book{ background-position: 0 -1924px;  } 
.icsw32_white-books-2{ background-position: 0 -1976px;  } 
.icsw32_white-books{ background-position: -52px 0;  } 
.icsw32_white-box-incoming-2{ background-position: -52px -52px;  } 
.icsw32_white-box-incoming{ background-position: -52px -104px;  } 
.icsw32_white-box-outgoing-2{ background-position: -52px -156px;  } 
.icsw32_white-box-outgoing{ background-position: -52px -208px;  } 
.icsw32_white-bulls-eye{ background-position: -52px -260px;  } 
.icsw32_white-calculator{ background-position: -52px -312px;  } 
.icsw32_white-camera-2{ background-position: -52px -364px;  } 
.icsw32_white-camera{ background-position: -52px -416px;  } 
.icsw32_white-candy-cane{ background-position: -52px -468px;  } 
.icsw32_white-car{ background-position: -52px -520px;  } 
.icsw32_white-cash-register{ background-position: -52px -572px;  } 
.icsw32_white-cassette{ background-position: -52px -624px;  } 
.icsw32_white-cat{ background-position: -52px -676px;  } 
.icsw32_white-cd{ background-position: -52px -728px;  } 
.icsw32_white-cell-phone-reception{ background-position: -52px -780px;  } 
.icsw32_white-chair{ background-position: -52px -832px;  } 
.icsw32_white-chart-2{ background-position: -52px -884px;  } 
.icsw32_white-chart-3{ background-position: -52px -936px;  } 
.icsw32_white-chart-4{ background-position: -52px -988px;  } 
.icsw32_white-chart-5{ background-position: -52px -1040px;  } 
.icsw32_white-chart-6{ background-position: -52px -1092px;  } 
.icsw32_white-chart-7{ background-position: -52px -1144px;  } 
.icsw32_white-chart-8{ background-position: -52px -1196px;  } 
.icsw32_white-chart{ background-position: -52px -1248px;  } 
.icsw32_white-chemical{ background-position: -52px -1300px;  } 
.icsw32_white-chrome{ background-position: -52px -1352px;  } 
.icsw32_white-clapboard{ background-position: -52px -1404px;  } 
.icsw32_white-clipboard{ background-position: -52px -1456px;  } 
.icsw32_white-clock-2{ background-position: -52px -1508px;  } 
.icsw32_white-clock{ background-position: -52px -1560px;  } 
.icsw32_white-cloud---lightning-w_-rain{ background-position: -52px -1612px;  } 
.icsw32_white-cloud---lightning{ background-position: -52px -1664px;  } 
.icsw32_white-cloud---rain-w_-shining-sun{ background-position: -52px -1716px;  } 
.icsw32_white-cloud---rain-w_-sun{ background-position: -52px -1768px;  } 
.icsw32_white-cloud-download{ background-position: -52px -1820px;  } 
.icsw32_white-cloud-upload{ background-position: -52px -1872px;  } 
.icsw32_white-cloud{ background-position: -52px -1924px;  } 
.icsw32_white-cog-2{ background-position: -52px -1976px;  } 
.icsw32_white-cog-3{ background-position: -104px 0;  } 
.icsw32_white-cog-4{ background-position: -104px -52px;  } 
.icsw32_white-cog-5{ background-position: -104px -104px;  } 
.icsw32_white-cog{ background-position: -104px -156px;  } 
.icsw32_white-companies{ background-position: -104px -208px;  } 
.icsw32_white-computer_imac{ background-position: -104px -260px;  } 
.icsw32_white-coverflow{ background-position: -104px -312px;  } 
.icsw32_white-create-write{ background-position: -104px -364px;  } 
.icsw32_white-creditcard{ background-position: -104px -416px;  } 
.icsw32_white-cup{ background-position: -104px -468px;  } 
.icsw32_white-cut-scissors{ background-position: -104px -520px;  } 
.icsw32_white-day-calendar{ background-position: -104px -572px;  } 
.icsw32_white-display{ background-position: -104px -624px;  } 
.icsw32_white-document{ background-position: -104px -676px;  } 
.icsw32_white-documents{ background-position: -104px -728px;  } 
.icsw32_white-dog-tag{ background-position: -104px -780px;  } 
.icsw32_white-dog-tags{ background-position: -104px -832px;  } 
.icsw32_white-download-to-computer{ background-position: -104px -884px;  } 
.icsw32_white-download{ background-position: -104px -936px;  } 
.icsw32_white-dress{ background-position: -104px -988px;  } 
.icsw32_white-dvd{ background-position: -104px -1040px;  } 
.icsw32_white-electricity-input-2{ background-position: -104px -1092px;  } 
.icsw32_white-electricity-input-w_-plug{ background-position: -104px -1144px;  } 
.icsw32_white-electricity-input{ background-position: -104px -1196px;  } 
.icsw32_white-electricity-plug{ background-position: -104px -1248px;  } 
.icsw32_white-excel-document{ background-position: -104px -1300px;  } 
.icsw32_white-excel-documents{ background-position: -104px -1352px;  } 
.icsw32_white-exit{ background-position: -104px -1404px;  } 
.icsw32_white-expose{ background-position: -104px -1456px;  } 
.icsw32_white-eyedropper{ background-position: -104px -1508px;  } 
.icsw32_white-facebook-like-2{ background-position: -104px -1560px;  } 
.icsw32_white-facebook-like{ background-position: -104px -1612px;  } 
.icsw32_white-female-contour{ background-position: -104px -1664px;  } 
.icsw32_white-female-symbol{ background-position: -104px -1716px;  } 
.icsw32_white-file-cabinet{ background-position: -104px -1768px;  } 
.icsw32_white-film-2{ background-position: -104px -1820px;  } 
.icsw32_white-film-camera-2{ background-position: -104px -1872px;  } 
.icsw32_white-film-camera{ background-position: -104px -1924px;  } 
.icsw32_white-film-strip{ background-position: -104px -1976px;  } 
.icsw32_white-finish-banner{ background-position: -156px 0;  } 
.icsw32_white-finish-flag{ background-position: -156px -52px;  } 
.icsw32_white-firefox{ background-position: -156px -104px;  } 
.icsw32_white-flag-2{ background-position: -156px -156px;  } 
.icsw32_white-flag{ background-position: -156px -208px;  } 
.icsw32_white-flip-clock{ background-position: -156px -260px;  } 
.icsw32_white-folder{ background-position: -156px -312px;  } 
.icsw32_white-footprint{ background-position: -156px -364px;  } 
.icsw32_white-footprints{ background-position: -156px -416px;  } 
.icsw32_white-fountain-pen{ background-position: -156px -468px;  } 
.icsw32_white-frames{ background-position: -156px -520px;  } 
.icsw32_white-g-key{ background-position: -156px -572px;  } 
.icsw32_white-glass{ background-position: -156px -624px;  } 
.icsw32_white-globe-2{ background-position: -156px -676px;  } 
.icsw32_white-globe{ background-position: -156px -728px;  } 
.icsw32_white-go-back-from-screen-2{ background-position: -156px -780px;  } 
.icsw32_white-go-back-from-screen{ background-position: -156px -832px;  } 
.icsw32_white-go-full-screen{ background-position: -156px -884px;  } 
.icsw32_white-google-maps{ background-position: -156px -936px;  } 
.icsw32_white-graph-2{ background-position: -156px -988px;  } 
.icsw32_white-graph{ background-position: -156px -1040px;  } 
.icsw32_white-group-2{ background-position: -156px -1092px;  } 
.icsw32_white-group{ background-position: -156px -1144px;  } 
.icsw32_white-halloween-pumpkin{ background-position: -156px -1196px;  } 
.icsw32_white-hard-disk{ background-position: -156px -1248px;  } 
.icsw32_white-hd-2{ background-position: -156px -1300px;  } 
.icsw32_white-hd-3{ background-position: -156px -1352px;  } 
.icsw32_white-hd{ background-position: -156px -1404px;  } 
.icsw32_white-headphones{ background-position: -156px -1456px;  } 
.icsw32_white-help{ background-position: -156px -1508px;  } 
.icsw32_white-home-2{ background-position: -156px -1560px;  } 
.icsw32_white-home{ background-position: -156px -1612px;  } 
.icsw32_white-hour-glass{ background-position: -156px -1664px;  } 
.icsw32_white-ice-cream-2{ background-position: -156px -1716px;  } 
.icsw32_white-ice-cream{ background-position: -156px -1768px;  } 
.icsw32_white-image-2{ background-position: -156px -1820px;  } 
.icsw32_white-image-file{ background-position: -156px -1872px;  } 
.icsw32_white-image{ background-position: -156px -1924px;  } 
.icsw32_white-images-2{ background-position: -156px -1976px;  } 
.icsw32_white-images{ background-position: -208px 0;  } 
.icsw32_white-inbox{ background-position: -208px -52px;  } 
.icsw32_white-info-about{ background-position: -208px -104px;  } 
.icsw32_white-ipad-2{ background-position: -208px -156px;  } 
.icsw32_white-ipad{ background-position: -208px -208px;  } 
.icsw32_white-iphone-3g{ background-position: -208px -260px;  } 
.icsw32_white-iphone-4-2{ background-position: -208px -312px;  } 
.icsw32_white-iphone-4{ background-position: -208px -364px;  } 
.icsw32_white-ipod-classic{ background-position: -208px -416px;  } 
.icsw32_white-ipod-nano-2{ background-position: -208px -468px;  } 
.icsw32_white-ipod-nano{ background-position: -208px -520px;  } 
.icsw32_white-ipod-shuffle{ background-position: -208px -572px;  } 
.icsw32_white-key-2{ background-position: -208px -624px;  } 
.icsw32_white-key{ background-position: -208px -676px;  } 
.icsw32_white-keyboard{ background-position: -208px -728px;  } 
.icsw32_white-ladys-purse{ background-position: -208px -780px;  } 
.icsw32_white-lamp{ background-position: -208px -832px;  } 
.icsw32_white-laptop{ background-position: -208px -884px;  } 
.icsw32_white-leaf{ background-position: -208px -936px;  } 
.icsw32_white-lemonade-stand-2{ background-position: -208px -988px;  } 
.icsw32_white-lemonade-stand{ background-position: -208px -1040px;  } 
.icsw32_white-light-bulb{ background-position: -208px -1092px;  } 
.icsw32_white-link-2{ background-position: -208px -1144px;  } 
.icsw32_white-link{ background-position: -208px -1196px;  } 
.icsw32_white-list-w_-image{ background-position: -208px -1248px;  } 
.icsw32_white-list-w_-images{ background-position: -208px -1300px;  } 
.icsw32_white-list{ background-position: -208px -1352px;  } 
.icsw32_white-loading-bar{ background-position: -208px -1404px;  } 
.icsw32_white-locked-2{ background-position: -208px -1456px;  } 
.icsw32_white-locked-folder{ background-position: -208px -1508px;  } 
.icsw32_white-locked{ background-position: -208px -1560px;  } 
.icsw32_white-magic-mouse{ background-position: -208px -1612px;  } 
.icsw32_white-magnifying-glass-2{ background-position: -208px -1664px;  } 
.icsw32_white-magnifying-glass{ background-position: -208px -1716px;  } 
.icsw32_white-mail-2{ background-position: -208px -1768px;  } 
.icsw32_white-mail{ background-position: -208px -1820px;  } 
.icsw32_white-male-contour{ background-position: -208px -1872px;  } 
.icsw32_white-male-symbol{ background-position: -208px -1924px;  } 
.icsw32_white-map{ background-position: -208px -1976px;  } 
.icsw32_white-marker{ background-position: -260px 0;  } 
.icsw32_white-mastercard{ background-position: -260px -52px;  } 
.icsw32_white-medical-case{ background-position: -260px -104px;  } 
.icsw32_white-megaphone{ background-position: -260px -156px;  } 
.icsw32_white-mickey{ background-position: -260px -208px;  } 
.icsw32_white-microphone{ background-position: -260px -260px;  } 
.icsw32_white-mighty-mouse{ background-position: -260px -312px;  } 
.icsw32_white-mobile-phone-2{ background-position: -260px -364px;  } 
.icsw32_white-mobile-phone{ background-position: -260px -416px;  } 
.icsw32_white-money-2{ background-position: -260px -468px;  } 
.icsw32_white-money{ background-position: -260px -520px;  } 
.icsw32_white-monitor{ background-position: -260px -572px;  } 
.icsw32_white-month-calendar{ background-position: -260px -624px;  } 
.icsw32_white-mouse-{ background-position: -260px -676px;  } 
.icsw32_white-mouse-2{ background-position: -260px -728px;  } 
.icsw32_white-mouse-wires{ background-position: -260px -780px;  } 
.icsw32_white-music-folder{ background-position: -260px -832px;  } 
.icsw32_white-musical-keyboard{ background-position: -260px -884px;  } 
.icsw32_white-note-book{ background-position: -260px -936px;  } 
.icsw32_white-old-phone{ background-position: -260px -988px;  } 
.icsw32_white-pacman-ghost{ background-position: -260px -1040px;  } 
.icsw32_white-pacman{ background-position: -260px -1092px;  } 
.icsw32_white-paint-brush{ background-position: -260px -1144px;  } 
.icsw32_white-pants{ background-position: -260px -1196px;  } 
.icsw32_white-paperclip{ background-position: -260px -1248px;  } 
.icsw32_white-pdf-document{ background-position: -260px -1300px;  } 
.icsw32_white-pdf-documents{ background-position: -260px -1352px;  } 
.icsw32_white-pencil{ background-position: -260px -1404px;  } 
.icsw32_white-personal-folder-user-folder{ background-position: -260px -1456px;  } 
.icsw32_white-phone-2{ background-position: -260px -1508px;  } 
.icsw32_white-phone-3{ background-position: -260px -1560px;  } 
.icsw32_white-phone-4{ background-position: -260px -1612px;  } 
.icsw32_white-phone-hook{ background-position: -260px -1664px;  } 
.icsw32_white-phone{ background-position: -260px -1716px;  } 
.icsw32_white-piggy-bank{ background-position: -260px -1768px;  } 
.icsw32_white-plane-suitcase{ background-position: -260px -1820px;  } 
.icsw32_white-plate-diner{ background-position: -260px -1872px;  } 
.icsw32_white-post-card{ background-position: -260px -1924px;  } 
.icsw32_white-power{ background-position: -260px -1976px;  } 
.icsw32_white-powerpoint-document{ background-position: -312px 0;  } 
.icsw32_white-powerpoint-documents{ background-position: -312px -52px;  } 
.icsw32_white-presentation{ background-position: -312px -104px;  } 
.icsw32_white-preview{ background-position: -312px -156px;  } 
.icsw32_white-price-tag{ background-position: -312px -208px;  } 
.icsw32_white-price-tags{ background-position: -312px -260px;  } 
.icsw32_white-printer{ background-position: -312px -312px;  } 
.icsw32_white-quicktime-new{ background-position: -312px -364px;  } 
.icsw32_white-radio-signal{ background-position: -312px -416px;  } 
.icsw32_white-radio{ background-position: -312px -468px;  } 
.icsw32_white-rake-and-scoop{ background-position: -312px -520px;  } 
.icsw32_white-record{ background-position: -312px -572px;  } 
.icsw32_white-recycle-symbol{ background-position: -312px -624px;  } 
.icsw32_white-recycled-bag{ background-position: -312px -676px;  } 
.icsw32_white-refresh-2{ background-position: -312px -728px;  } 
.icsw32_white-refresh-3{ background-position: -312px -780px;  } 
.icsw32_white-refresh-4{ background-position: -312px -832px;  } 
.icsw32_white-refresh{ background-position: -312px -884px;  } 
.icsw32_white-repeat{ background-position: -312px -936px;  } 
.icsw32_white-robot{ background-position: -312px -988px;  } 
.icsw32_white-rss{ background-position: -312px -1040px;  } 
.icsw32_white-ruler-2{ background-position: -312px -1092px;  } 
.icsw32_white-ruler{ background-position: -312px -1144px;  } 
.icsw32_white-running-man{ background-position: -312px -1196px;  } 
.icsw32_white-safari{ background-position: -312px -1248px;  } 
.icsw32_white-scan-label-2{ background-position: -312px -1300px;  } 
.icsw32_white-scan-label-3{ background-position: -312px -1352px;  } 
.icsw32_white-scan-label{ background-position: -312px -1404px;  } 
.icsw32_white-sd-2{ background-position: -312px -1456px;  } 
.icsw32_white-sd-3{ background-position: -312px -1508px;  } 
.icsw32_white-sd{ background-position: -312px -1560px;  } 
.icsw32_white-settings-2{ background-position: -312px -1612px;  } 
.icsw32_white-settings{ background-position: -312px -1664px;  } 
.icsw32_white-shades{ background-position: -312px -1716px;  } 
.icsw32_white-shopping-bag{ background-position: -312px -1768px;  } 
.icsw32_white-shopping-basket-2{ background-position: -312px -1820px;  } 
.icsw32_white-shopping-basket{ background-position: -312px -1872px;  } 
.icsw32_white-shopping-cart-2{ background-position: -312px -1924px;  } 
.icsw32_white-shopping-cart-3{ background-position: -312px -1976px;  } 
.icsw32_white-shopping-cart-4{ background-position: -364px 0;  } 
.icsw32_white-shopping-cart{ background-position: -364px -52px;  } 
.icsw32_white-shuffle{ background-position: -364px -104px;  } 
.icsw32_white-sign-post-2{ background-position: -364px -156px;  } 
.icsw32_white-sign-post{ background-position: -364px -208px;  } 
.icsw32_white-sleeveless-shirt{ background-position: -364px -260px;  } 
.icsw32_white-small-brush{ background-position: -364px -312px;  } 
.icsw32_white-socks{ background-position: -364px -364px;  } 
.icsw32_white-sound{ background-position: -364px -416px;  } 
.icsw32_white-speech-bubble-2{ background-position: -364px -468px;  } 
.icsw32_white-speech-bubble{ background-position: -364px -520px;  } 
.icsw32_white-speech-bubbles-2{ background-position: -364px -572px;  } 
.icsw32_white-speech-bubbles{ background-position: -364px -624px;  } 
.icsw32_white-sport-shirt{ background-position: -364px -676px;  } 
.icsw32_white-sticky-note{ background-position: -364px -728px;  } 
.icsw32_white-stop-watch{ background-position: -364px -780px;  } 
.icsw32_white-strategy-2{ background-position: -364px -832px;  } 
.icsw32_white-strategy{ background-position: -364px -884px;  } 
.icsw32_white-strike-through-month-calendar{ background-position: -364px -936px;  } 
.icsw32_white-suitcase-1{ background-position: -364px -988px;  } 
.icsw32_white-suitcase-2{ background-position: -364px -1040px;  } 
.icsw32_white-sweater{ background-position: -364px -1092px;  } 
.icsw32_white-t-shirt{ background-position: -364px -1144px;  } 
.icsw32_white-table2{ background-position: -364px -1196px;  } 
.icsw32_white-table{ background-position: -364px -1248px;  } 
.icsw32_white-tag{ background-position: -364px -1300px;  } 
.icsw32_white-tags-2{ background-position: -364px -1352px;  } 
.icsw32_white-television{ background-position: -364px -1404px;  } 
.icsw32_white-text-document{ background-position: -364px -1456px;  } 
.icsw32_white-text-documents{ background-position: -364px -1508px;  } 
.icsw32_white-text-styling-2{ background-position: -364px -1560px;  } 
.icsw32_white-text-styling-3{ background-position: -364px -1612px;  } 
.icsw32_white-text-styling{ background-position: -364px -1664px;  } 
.icsw32_white-timer{ background-position: -364px -1716px;  } 
.icsw32_white-tools{ background-position: -364px -1768px;  } 
.icsw32_white-traffic-light{ background-position: -364px -1820px;  } 
.icsw32_white-trashcan-2{ background-position: -364px -1872px;  } 
.icsw32_white-trashcan{ background-position: -364px -1924px;  } 
.icsw32_white-travel-suitcase{ background-position: -364px -1976px;  } 
.icsw32_white-tree{ background-position: -416px 0;  } 
.icsw32_white-trolly{ background-position: -416px -52px;  } 
.icsw32_white-truck-2{ background-position: -416px -104px;  } 
.icsw32_white-truck{ background-position: -416px -156px;  } 
.icsw32_white-twitter-2{ background-position: -416px -208px;  } 
.icsw32_white-twitter{ background-position: -416px -260px;  } 
.icsw32_white-umbrella{ background-position: -416px -312px;  } 
.icsw32_white-under-construction{ background-position: -416px -364px;  } 
.icsw32_white-universal-acces{ background-position: -416px -416px;  } 
.icsw32_white-unlocked{ background-position: -416px -468px;  } 
.icsw32_white-upload{ background-position: -416px -520px;  } 
.icsw32_white-usb-stick{ background-position: -416px -572px;  } 
.icsw32_white-user-2{ background-position: -416px -624px;  } 
.icsw32_white-user-comment{ background-position: -416px -676px;  } 
.icsw32_white-user{ background-position: -416px -728px;  } 
.icsw32_white-users-2{ background-position: -416px -780px;  } 
.icsw32_white-users{ background-position: -416px -832px;  } 
.icsw32_white-v-card-2{ background-position: -416px -884px;  } 
.icsw32_white-v-card-3{ background-position: -416px -936px;  } 
.icsw32_white-v-card{ background-position: -416px -988px;  } 
.icsw32_white-vault{ background-position: -416px -1040px;  } 
.icsw32_white-vimeo-2{ background-position: -416px -1092px;  } 
.icsw32_white-vimeo{ background-position: -416px -1144px;  } 
.icsw32_white-wacom-2{ background-position: -416px -1196px;  } 
.icsw32_white-wacom{ background-position: -416px -1248px;  } 
.icsw32_white-walking-man{ background-position: -416px -1300px;  } 
.icsw32_white-wifi-2{ background-position: -416px -1352px;  } 
.icsw32_white-wifi-signal-2{ background-position: -416px -1404px;  } 
.icsw32_white-wifi-signal{ background-position: -416px -1456px;  } 
.icsw32_white-wifi{ background-position: -416px -1508px;  } 
.icsw32_white-wine-glass{ background-position: -416px -1560px;  } 
.icsw32_white-winner-podium{ background-position: -416px -1612px;  } 
.icsw32_white-word-document{ background-position: -416px -1664px;  } 
.icsw32_white-word-documents{ background-position: -416px -1716px;  } 
.icsw32_white-youtube-2{ background-position: -416px -1768px;  } 
.icsw32_white-youtube-3{ background-position: -416px -1820px;  } 
.icsw32_white-zip-file{ background-position: -416px -1872px;  } 
.icsw32_white-zip-files{ background-position: -416px -1924px;  } 