[class^=icsw16-],
[class*=" icsw16-"] { display: inline-block; width: 16px; height: 16px; line-height: 16px; vertical-align: text-top; background-image: url(icsw2_16.png); background-repeat: no-repeat; margin-right: .3em }
[class*=icsw16-]:last-child { margin-left: 0 }
.icsw16-white { background-image: url(icsw2_16_white.png) }
.icsw16-abacus { background-position: 0 0 }
.icsw16-acces-denied-sign { background-position: 0 -36px }
.icsw16-address-book { background-position: 0 -72px }
.icsw16-admin-user-2 { background-position: 0 -108px }
.icsw16-admin-user { background-position: 0 -144px }
.icsw16-airplane { background-position: 0 -180px }
.icsw16-alarm-clock { background-position: 0 -216px }
.icsw16-alarm-bell-2 { background-position: 0 -252px }
.icsw16-alarm-bell { background-position: 0 -288px }
.icsw16-alert-2 { background-position: 0 -324px }
.icsw16-alert { background-position: 0 -360px }
.icsw16-apartment-building { background-position: 0 -396px }
.icsw16-archive { background-position: 0 -432px }
.icsw16-bag { background-position: 0 -468px }
.icsw16-balloons { background-position: 0 -504px }
.icsw16-bandaid { background-position: 0 -540px }
.icsw16-battery-almost-empty { background-position: 0 -576px }
.icsw16-battery-almost-full { background-position: 0 -612px }
.icsw16-battery-empty { background-position: 0 -648px }
.icsw16-battery-full { background-position: 0 -684px }
.icsw16-battery { background-position: 0 -720px }
.icsw16-bended-arrow-down { background-position: 0 -756px }
.icsw16-bended-arrow-left { background-position: 0 -792px }
.icsw16-bended-arrow-right { background-position: 0 -828px }
.icsw16-bended-arrow-up { background-position: 0 -864px }
.icsw16-big-brush { background-position: 0 -900px }
.icsw16-blocks-images { background-position: 0 -936px }
.icsw16-bluetooth-2 { background-position: 0 -972px }
.icsw16-bluetooth { background-position: 0 -1008px }
.icsw16-book-large { background-position: 0 -1044px }
.icsw16-book { background-position: 0 -1080px }
.icsw16-books { background-position: 0 -1116px }
.icsw16-box-incoming { background-position: 0 -1152px }
.icsw16-box-outgoing { background-position: 0 -1188px }
.icsw16-bulls-eye { background-position: 0 -1224px }
.icsw16-cd { background-position: 0 -1260px }
.icsw16-calculator { background-position: 0 -1296px }
.icsw16-camera-2 { background-position: 0 -1332px }
.icsw16-camera { background-position: 0 -1368px }
.icsw16-car { background-position: 0 -1404px }
.icsw16-cash-register { background-position: 0 -1440px }
.icsw16-cassette { background-position: 0 -1476px }
.icsw16-cat { background-position: 0 -1512px }
.icsw16-chair { background-position: 0 -1548px }
.icsw16-chart-2 { background-position: 0 -1584px }
.icsw16-chart-3 { background-position: 0 -1620px }
.icsw16-chart-4 { background-position: 0 -1656px }
.icsw16-chart-5 { background-position: 0 -1692px }
.icsw16-chart-6 { background-position: 0 -1728px }
.icsw16-chart-7 { background-position: 0 -1764px }
.icsw16-chart-8 { background-position: 0 -1800px }
.icsw16-chart { background-position: 0 -1836px }
.icsw16-chemical { background-position: 0 -1872px }
.icsw16-chrome { background-position: 0 -1908px }
.icsw16-clipboard { background-position: 0 -1944px }
.icsw16-clock { background-position: -36px 0 }
.icsw16-cloud-download { background-position: -36px -36px }
.icsw16-cloud-upload { background-position: -36px -72px }
.icsw16-cloud { background-position: -36px -108px }
.icsw16-cog-2 { background-position: -36px -144px }
.icsw16-cog-3 { background-position: -36px -180px }
.icsw16-cog-4 { background-position: -36px -216px }
.icsw16-cog { background-position: -36px -252px }
.icsw16-companies { background-position: -36px -288px }
.icsw16-computer_imac { background-position: -36px -324px }
.icsw16-coverflow { background-position: -36px -360px }
.icsw16-create-write { background-position: -36px -396px }
.icsw16-cup { background-position: -36px -432px }
.icsw16-cut-scissors { background-position: -36px -468px }
.icsw16-dvd { background-position: -36px -504px }
.icsw16-day-calendar { background-position: -36px -540px }
.icsw16-document { background-position: -36px -576px }
.icsw16-documents { background-position: -36px -612px }
.icsw16-download-to-computer { background-position: -36px -648px }
.icsw16-download { background-position: -36px -684px }
.icsw16-dress { background-position: -36px -720px }
.icsw16-electricity-input { background-position: -36px -756px }
.icsw16-electricity-plug { background-position: -36px -792px }
.icsw16-excel-document { background-position: -36px -828px }
.icsw16-excel-documents { background-position: -36px -864px }
.icsw16-exit { background-position: -36px -900px }
.icsw16-expose { background-position: -36px -936px }
.icsw16-eyedropper { background-position: -36px -972px }
.icsw16-facebook-like-2 { background-position: -36px -1008px }
.icsw16-facebook-like { background-position: -36px -1044px }
.icsw16-fax { background-position: -36px -1080px }
.icsw16-female-contour { background-position: -36px -1116px }
.icsw16-female-symbol { background-position: -36px -1152px }
.icsw16-file-cabinet { background-position: -36px -1188px }
.icsw16-film-camera { background-position: -36px -1224px }
.icsw16-film-strip-2 { background-position: -36px -1260px }
.icsw16-film-strip { background-position: -36px -1296px }
.icsw16-finish-flag { background-position: -36px -1332px }
.icsw16-firefox { background-position: -36px -1368px }
.icsw16-flag-2 { background-position: -36px -1404px }
.icsw16-flag { background-position: -36px -1440px }
.icsw16-folder { background-position: -36px -1476px }
.icsw16-footprints { background-position: -36px -1512px }
.icsw16-fountain-pen { background-position: -36px -1548px }
.icsw16-frames { background-position: -36px -1584px }
.icsw16-globe-2 { background-position: -36px -1620px }
.icsw16-globe { background-position: -36px -1656px }
.icsw16-go-back-from-full-screen { background-position: -36px -1692px }
.icsw16-go-back-from-screen { background-position: -36px -1728px }
.icsw16-go-full-screen { background-position: -36px -1764px }
.icsw16-google-maps { background-position: -36px -1800px }
.icsw16-graph { background-position: -36px -1836px }
.icsw16-hd-2 { background-position: -36px -1872px }
.icsw16-hd-3 { background-position: -36px -1908px }
.icsw16-hd { background-position: -36px -1944px }
.icsw16-headphones { background-position: -72px 0 }
.icsw16-help { background-position: -72px -36px }
.icsw16-home-2 { background-position: -72px -72px }
.icsw16-home { background-position: -72px -108px }
.icsw16-ice-cream-2 { background-position: -72px -144px }
.icsw16-ice-cream { background-position: -72px -180px }
.icsw16-image-1 { background-position: -72px -216px }
.icsw16-image-2 { background-position: -72px -252px }
.icsw16-image { background-position: -72px -288px }
.icsw16-image2-2 { background-position: -72px -324px }
.icsw16-inbox { background-position: -72px -360px }
.icsw16-info-about { background-position: -72px -396px }
.icsw16-key-2 { background-position: -72px -432px }
.icsw16-key { background-position: -72px -468px }
.icsw16-ladys-purse { background-position: -72px -504px }
.icsw16-lamp { background-position: -72px -540px }
.icsw16-laptop { background-position: -72px -576px }
.icsw16-lemonade-stand { background-position: -72px -612px }
.icsw16-light-bulb { background-position: -72px -648px }
.icsw16-link-2 { background-position: -72px -684px }
.icsw16-link { background-position: -72px -720px }
.icsw16-list-w_-image { background-position: -72px -756px }
.icsw16-list-w_-images { background-position: -72px -792px }
.icsw16-list { background-position: -72px -828px }
.icsw16-loading-bar { background-position: -72px -864px }
.icsw16-locked-2 { background-position: -72px -900px }
.icsw16-locked { background-position: -72px -936px }
.icsw16-magic-mouse { background-position: -72px -972px }
.icsw16-magnifying-glass { background-position: -72px -1008px }
.icsw16-mail { background-position: -72px -1044px }
.icsw16-male-contour { background-position: -72px -1080px }
.icsw16-male-symbol { background-position: -72px -1116px }
.icsw16-map { background-position: -72px -1152px }
.icsw16-marker { background-position: -72px -1188px }
.icsw16-medical-case { background-position: -72px -1224px }
.icsw16-megaphone { background-position: -72px -1260px }
.icsw16-microphone { background-position: -72px -1296px }
.icsw16-mighty-mouse { background-position: -72px -1332px }
.icsw16-mobile-phone { background-position: -72px -1368px }
.icsw16-money-2 { background-position: -72px -1404px }
.icsw16-money { background-position: -72px -1440px }
.icsw16-monitor { background-position: -72px -1476px }
.icsw16-month-calendar { background-position: -72px -1512px }
.icsw16-mouse-wires { background-position: -72px -1548px }
.icsw16-note-book { background-position: -72px -1584px }
.icsw16-pdf-document { background-position: -72px -1620px }
.icsw16-pdf-documents { background-position: -72px -1656px }
.icsw16-pacman-ghost { background-position: -72px -1692px }
.icsw16-pacman { background-position: -72px -1728px }
.icsw16-paint-brush { background-position: -72px -1764px }
.icsw16-pants { background-position: -72px -1800px }
.icsw16-paperclip { background-position: -72px -1836px }
.icsw16-pencil { background-position: -72px -1872px }
.icsw16-phone-3 { background-position: -72px -1908px }
.icsw16-phone-hook { background-position: -72px -1944px }
.icsw16-phone { background-position: -108px 0 }
.icsw16-piggy-bank { background-position: -108px -36px }
.icsw16-plane-suitcase { background-position: -108px -72px }
.icsw16-post-card { background-position: -108px -108px }
.icsw16-power { background-position: -108px -144px }
.icsw16-powerpoint-document { background-position: -108px -180px }
.icsw16-powerpoint-documents { background-position: -108px -216px }
.icsw16-presentation { background-position: -108px -252px }
.icsw16-preview { background-position: -108px -288px }
.icsw16-price-tag { background-position: -108px -324px }
.icsw16-price-tags { background-position: -108px -360px }
.icsw16-printer { background-position: -108px -396px }
.icsw16-rss { background-position: -108px -432px }
.icsw16-radio { background-position: -108px -468px }
.icsw16-record { background-position: -108px -504px }
.icsw16-recycle-symbol { background-position: -108px -540px }
.icsw16-refresh-2 { background-position: -108px -576px }
.icsw16-refresh-3 { background-position: -108px -612px }
.icsw16-refresh-4 { background-position: -108px -648px }
.icsw16-refresh { background-position: -108px -684px }
.icsw16-repeat { background-position: -108px -720px }
.icsw16-robot { background-position: -108px -756px }
.icsw16-ruler-2 { background-position: -108px -792px }
.icsw16-ruler { background-position: -108px -828px }
.icsw16-running-man { background-position: -108px -864px }
.icsw16-sd-2 { background-position: -108px -900px }
.icsw16-sd-3 { background-position: -108px -936px }
.icsw16-sd { background-position: -108px -972px }
.icsw16-safari { background-position: -108px -1008px }
.icsw16-scan-label-2 { background-position: -108px -1044px }
.icsw16-settings-2 { background-position: -108px -1080px }
.icsw16-settings { background-position: -108px -1116px }
.icsw16-shopping-bag { background-position: -108px -1152px }
.icsw16-shopping-basket-21 { background-position: -108px -1188px }
.icsw16-shopping-basket-2 { background-position: -108px -1224px }
.icsw16-shopping-cart-2 { background-position: -108px -1260px }
.icsw16-shopping-cart-3 { background-position: -108px -1296px }
.icsw16-shopping-cart-4 { background-position: -108px -1332px }
.icsw16-shopping-cart { background-position: -108px -1368px }
.icsw16-shuffle { background-position: -108px -1404px }
.icsw16-sign-post { background-position: -108px -1440px }
.icsw16-sleeveless-shirt { background-position: -108px -1476px }
.icsw16-small-brush { background-position: -108px -1512px }
.icsw16-socks { background-position: -108px -1548px }
.icsw16-sound { background-position: -108px -1584px }
.icsw16-speech-bubble-2 { background-position: -108px -1620px }
.icsw16-speech-bubble { background-position: -108px -1656px }
.icsw16-speech-bubbles-2 { background-position: -108px -1692px }
.icsw16-speech-bubbles { background-position: -108px -1728px }
.icsw16-sport-shirt { background-position: -108px -1764px }
.icsw16-stop-watch { background-position: -108px -1800px }
.icsw16-strategy-2 { background-position: -108px -1836px }
.icsw16-strategy { background-position: -108px -1872px }
.icsw16-suitcase { background-position: -108px -1908px }
.icsw16-sweater { background-position: -108px -1944px }
.icsw16-t-shirt { background-position: -144px 0 }
.icsw16-table { background-position: -144px -36px }
.icsw16-tag { background-position: -144px -72px }
.icsw16-tags-2 { background-position: -144px -108px }
.icsw16-television { background-position: -144px -144px }
.icsw16-timer { background-position: -144px -180px }
.icsw16-trashcan-2 { background-position: -144px -216px }
.icsw16-trashcan { background-position: -144px -252px }
.icsw16-travel-suitcase { background-position: -144px -288px }
.icsw16-tree { background-position: -144px -324px }
.icsw16-trolly { background-position: -144px -360px }
.icsw16-truck { background-position: -144px -396px }
.icsw16-twitter-2 { background-position: -144px -432px }
.icsw16-twitter-3 { background-position: -144px -468px }
.icsw16-twitter { background-position: -144px -504px }
.icsw16-umbrella { background-position: -144px -540px }
.icsw16-under-construction { background-position: -144px -576px }
.icsw16-unlocked { background-position: -144px -612px }
.icsw16-upload { background-position: -144px -648px }
.icsw16-user-2 { background-position: -144px -684px }
.icsw16-user-comment { background-position: -144px -720px }
.icsw16-user { background-position: -144px -756px }
.icsw16-users-2 { background-position: -144px -792px }
.icsw16-users { background-position: -144px -828px }
.icsw16-v-card-2 { background-position: -144px -864px }
.icsw16-v-card { background-position: -144px -900px }
.icsw16-vault { background-position: -144px -936px }
.icsw16-vimeo-2 { background-position: -144px -972px }
.icsw16-vimeo { background-position: -144px -1008px }
.icsw16-walking-man { background-position: -144px -1044px }
.icsw16-wifi-signal-2 { background-position: -144px -1080px }
.icsw16-wifi-signal { background-position: -144px -1116px }
.icsw16-winner-podium { background-position: -144px -1152px }
.icsw16-word-document { background-position: -144px -1188px }
.icsw16-word-documents { background-position: -144px -1224px }
.icsw16-youtube-2 { background-position: -144px -1260px }
.icsw16-youtube { background-position: -144px -1296px }
.icsw16-zip-file { background-position: -144px -1332px }
.icsw16-zip-files { background-position: -144px -1368px }
.icsw16-ipad { background-position: -144px -1404px }
.icsw16-iphone-3g { background-position: -144px -1440px }
.icsw16-iphone-4 { background-position: -144px -1476px }
.icsw16-ipod-classic { background-position: -144px -1512px }
.icsw16-ipod-nano { background-position: -144px -1548px }
